body {
	padding: 0;
	margin: 0;
	font-family: Tahoma, Arial, sans-serif;
	outline:none !important;
}

textarea, input, select, button {
	outline: none;
}

@font-face {
	font-family: 'icons';
	src: url('fonts/icomoon.ttf') format('truetype');
	/* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3�5 */
}

.icon {
	font-family: 'icons';
}

a {
	text-decoration: none;
	color: inherit;
}

a:link, a:hover, a:active {
	text-decoration: none;
	color: inherit;
}

header {
	width: 100%;
	height: 50px;
	position: absolute;
	top: 0;
	background-color: #787878;
	color: white;
	line-height: 50px;
	font-size: 24px;
	text-indent: 10px;
	position: fixed;
}

.menuBar {
	width: 100%;
	height: 50px;
	top: 50px;
	line-height: 30px;
	font-size: 18px;
	position: fixed;
	background-color: #fff;
}

.pagerBar {
	width: 100%;
	height: 25px;
	line-height: 25px;
	font-size: 18px;
	background-color: #fff;
	cursor:pointer;
}

.menu {
	background-color: #55ACEE;
	color: #fff;
	max-width: 200px;
	border-radius: 3px;
	padding: 0 10px;
	float: right;
	margin-left: 15px;
	cursor:pointer;
	margin-top: 10px;
}

.menu:hover,.menu:first-child:hover{
	background-color:#1199ee;	
}

.menu:first-child {
	background-color: #55ACEE;
	color: #fff;
	max-width: 200px;
	border-radius: 3px;
	padding: 0 10px;
	float: right;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
}

.pageNo:first-child {
	background-color: #E63386;
	color: #FFF;
	max-width: 100px;
	border-radius: 3px;
	padding: 0 5px;
	float: right;
	margin-left: 15px;
	margin-right: 10px;
	margin-top: 10px;
	font-size: 12px;
	cursor:pointer;
	
  border: none;
  line-height: 24px;
}

.pageNo {
	background-color: #E63386;
	color: #FFF;
	max-width: 100px;
	border-radius: 3px;
	padding: 0 5px;
	float: right;
	margin-left: 15px;
	margin-top: 10px;
	font-size: 12px;
	cursor:pointer;
	
  border: none;
  line-height: 24px;
}

.pageNo:HOVER {
	background-color: #fff;
	color: #E63386;
	max-width: 100px;
	border-radius: 3px;
	padding: 0 5px;
	float: right;
	margin-left: 15px;
	margin-top: 10px;
	font-size: 12px;
	box-shadow:0px 20px 0px #E63386;
}

.disable{    
	background:#ddd !important;
	color: #666 !important;
	border-radius:0px !important;
	box-shadow:none !important;
	cursor: not-allowed !important;
}

.disable:hover{    
	box-shadow: none;
}

label {
	background-color: #787878;
	border: 1px solid #787878;
	border-radius: 9px 0 0 9px;
	color: #fff;
	display: inline-block;
	font-size: 15px;
	min-width: 125px;
	padding: 0px 13px;
	line-height: 32px;
	cursor: pointer;
}

input {
	border: 1px dashed #121212;
	color: #E63386;
	font-family: Tahoma, Arial, sans-serif;
	line-height: 32px;
	height: 32px;
	width: 300px;
	text-indent: 6px;
}

input[type=submit] {
	text-indent: 0px;
}

select {
	border: 1px dashed #121212;
	background: #fff;
	color: #E63386;
	font-family: Tahoma, Arial, sans-serif;
	height: 32px;
	width: 304px;
	text-indent: 2px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}

.search {
	display: block;
	position: relative;
	margin-top: 100px;
	-webkit-transition: all 5s ease-in-out;
	-moz-transition: all 5s ease-in-out;
	-o-transition: all 5s ease-in-out;
	transition: all 5s ease-in-out;
}

.searchVisible {
	display: flex;
	margin-top: 100px;
	-webkit-transition: all 5s ease-in-out;
	-moz-transition: all 5s ease-in-out;
	-o-transition: all 5s ease-in-out;
	transition: all 5s ease-in-out;
}

.search select {
	display: inline-flex;
	border: 1px dotted #e63386;
	color: #e63386;
	font-family: Tahoma, Arial, sans-serif;
	height: 32px;
	width: 304px;
	text-indent: 2px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	-webkit-transition: all 5s ease-in-out;
	-moz-transition: all 5s ease-in-out;
	-o-transition: all 5s ease-in-out;
	transition: all 5s ease-in-out;
}

option {
	color: #121212;
	font-family: Tahoma, Arial, sans-serif;
	padding: 7px 2px;
}

textarea {
	border: 1px dashed #787878;
	color: #121212;
	font-size: 14px;
	height: 72px;
	font-family: Tahoma, Arial, sans-serif;
	padding: 10px;
	resize: none;
	width: 282px;
}

.error {
	background-color: #e03030;
	border-radius: 8px;
	color: #fff;
	padding: 0 11px;
	margin: 2px 0px;
	line-height: 50px;
}

.submitButton {
	margin-top: 10px;
	background-color: #4CA454;
	color: #fff;
	border: none;
	border-radius: 3px;
	width: 100px;
	font-size: 16px;
	cursor: pointer;
	font-family: Tahoma, Arial, sans-serif;
}

.searchButton {
	background-color: #55ACEE;
	color: #fff;
	border: none;
	border-radius: 32px;
	width: 32px;
	font-size: 16px;
	cursor: pointer;
	margin-left: 10px;
}

.searchButton:hover{
	background-color:#1199ee;	
}

.pageContent {
	padding: 0 10px;
	margin-top: 100px;
}

.searchContent {
	margin-top:15px;
	overflow: auto;
}

.forget {
	color: #ccc;
	font-size: 14px;
	cursor: pointor;
}

.checkBoxSelected {
	background-color: #787878;
	border-radius: 26px;
	border: none;
	color: #fff;
	height: 32px;
	min-width: 25px;
	padding: 0 5px;
	width: 25px;
	width: 25px;
	z-index: 1;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	z-index: 1;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.checkBoxNotSelected {
	background-color: #fff;
	border-radius: 26px;
	border: none;
	color: #787878;
	height: 32px;
	min-width: 25px;
	padding: 0 5px;
	width: 25px;
	z-index: 1;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.avtext {
	color: #787878;
	font-size: 14px;
	background-color: #fff;
	border: none;
	padding: 0px;
	cursor: pointer;
}

.userListPink {
	width: 100%;
	background-color: #E63386;
	color: #FFF;
	float: right;
}

.userListWhite {
	width: 100%;
	background-color: #FFF;
	color: #E63386;
	float: right;
}

.username {
	font-size: 16px;
	line-height: 20px;
	padding: 10px;
	width: 30%;
	float: left;
}

.email {
	float: left;
	font-size: 16px;
	line-height: 50px;
	width: 30%;
}

.location {
	float: left;
	font-size: 14px;
	line-height: 40px;
	width: 30%;
}

.phone {
	float: left;
	font-size: 14px;
	line-height: 40px;
	width: 25%;
}

.date {
	float: left;
	font-size: 14px;
	line-height: 40px;
	width: 25%;
}

.bloodgroup {
	background-color: #fff;
	border-radius: 20px;
	color: #e63386;
	float: right;
	height: 20px;
	margin-top: 6px;
	margin-right: 12px;
	padding: 5px;
	line-height: 20px;
	min-width: 20px;
	font-size: 14px;
}

.errormsg {
	color: #FF2E12;
	font-size: 30px;
}

.block {
	width: 200px;
	height: 300px;
	background-color: blue;
}

.loginuser {
	float: right;
<<<<<<< HEAD
	margin-right : 15px;
}

.pageButton{
	background-color: #E63386;
	color: #FFF;
	max-width: 100px;
	border-radius: 3px;
	padding: 5px 10px;
	float: right;
	margin-top:10px;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 12px;
	cursor:pointer;
	border:none;
}

.pageButton:HOVER {
	background-color: #FFF;
	color: #E63386;
	max-width: 100px;
	border-radius: 3px;
	padding: 5px 10px;
	float: right;
	margin-top:10px;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 12px;
	cursor:pointer;
	box-shadow:0px 20px 0px #E63386;
	border:none;
}

.headerMenu{
	background-color: #e63386;
    box-shadow: 15px 30px 10px rgba(0, 0, 0, 0.2);
    height: 120px;
    position: absolute;
    right: 0px;
    display:none;
    top: 50px;
    width: 200px;
    z-index: 10;
	-webkit-transition: all 0.01s ease-in-out;
	-moz-transition: all 0.01s ease-in-out;
	-o-transition: all 0.01s ease-in-out;
	transition: all 0.01s ease-in-out;
}

.headerMenu ul{
	cursor: pointer;
    list-style: outside none none;
    margin-left: -40px;
    margin-top: inherit;
}

.headerMenu li{
	background-color: #787878;
    border-bottom: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    line-height: 40px;
    padding-right: 15px;
    text-align: right;
}
.headerMenu li:hover{
	background-color: #484848;
}
=======
}
[data-tooltip] {
    display: inline-block;
    position: relative;
}
/* Tooltip styling */
[data-tooltip]:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background: #ff7200;
    color: #fff;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.4;
    min-width: 100px;
    text-align: center;
    border-radius: 4px;
}
/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before,
[data-tooltip-position="bottom"]:before {
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
/* Dynamic vertical centering */
[data-tooltip-position="right"]:before,
[data-tooltip-position="left"]:before {
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
[data-tooltip-position="top"]:before {
    bottom: 100%;
    margin-bottom: 6px;
}
[data-tooltip-position="right"]:before {
    left: 100%;
    margin-left: 6px;
}
[data-tooltip-position="bottom"]:before {
    top: 100%;
    margin-top: 6px;
}
[data-tooltip-position="left"]:before {
    right: 100%;
    margin-right: 6px;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after,
[data-tooltip-position="bottom"]:after {
    left: 50%;
    margin-left: -6px;
}
/* Dynamic vertical centering for the tooltip */
[data-tooltip-position="right"]:after,
[data-tooltip-position="left"]:after {
    top: 50%;
    margin-top: -6px;
}
[data-tooltip-position="top"]:after {
    bottom: 100%;
    border-width: 6px 6px 0;
    border-top-color: #ff7200;
}
[data-tooltip-position="right"]:after {
    left: 100%;
    border-width: 6px 6px 6px 0;
    border-right-color: #ff7200;
}
[data-tooltip-position="bottom"]:after {
    top: 100%;
    border-width: 0 6px 6px;
    border-bottom-color: #ff7200;
}
[data-tooltip-position="left"]:after {
    right: 100%;
    border-width: 6px 0 6px 6px;
    border-left-color: #ff7200;
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 50;
}